<div style="display:flex;">
    <div style="flex: 0 0 30px;line-height:0"><img style="width:30px;height:30px;margin:0;padding:0;" src="{{message.flags.pf2e-dorako-ui.tokenAvatar.image}}"/></div>
    <div style="flex: 1 1">
    <div style="display:flex;align-items:center;font-size:75%;opacity:0.5">
    <div>{{author.name}}</div>
    <div style="text-align:right;flex:1 1">
        <time class="message-timestamp">{{timeSince message.timestamp}}</time>
        <a class="message-delete">
            <i class="fas fa-trash"></i>
        </a>
        </div>
    </div>
    <div style="margin-top:-0.25em">{{alias}}</div>
    </div>
</div>
<div style="font-weight:bold;font-size:110%;letter-spacing:-0.025em;line-height:1">
    {{#if pf2e.modifierName}}
    {{{pf2e.modifierName}}}
    {{else}}
    {{pf2e.strike.name}}
    {{/if}}
</div>
<div style="display:flex;flex-wrap:wrap;font-size:80%;opacity:0.75">
{{#each pf2e.modifiers}}
<div style="padding:1px;line-height:1;border:1px solid #0002">
{{this.label}} {{this.modifier}}
</div>
{{/each}}
{{#each pf2e.context.traits}}
<div style="padding:1px;line-height:1;border:1px solid #0002">
{{this.label}}
</div>
{{/each}}
</div>