<div class="pf2e-extraordinary-tales">
    {{> "modules/pf2e-extraordinary-tales/templates/chat/header.hbs" this}}
    {{#with extratales}}
    {{#each this.instances}}
        <div class="alt-row">
        {{> "modules/pf2e-extraordinary-tales/templates/chat/instance.hbs" item=this}}
        </div>
    {{/each}}

    <div style="display:flex;align-items:center;background:#fff6">
        <div style="flex: 0 0 2em;text-align:center;font-size:175%;font-weight:bold">
        {{this.roll.total}}
        </div>
        <div style="opacity:0.8;text-transform:uppercase;font-size:80%">
        Total Combined Damage
    </div>
    </div>
    {{/with}}

    <div data-tooltip="tiasdh aoiah ododia aoihd oihfh fioh !!" >testing tooltip</div>

</div>


<section class="damage-application">
    <button type="button" class="full-damage" title="{{localize "PF2E.DamageButton.Full"}}&#013;{{localize "PF2E.DamageButton.Adjust"}}">
        <i class="fa-solid fa-heart-broken fa-fw"></i>
        <span class="label">{{#if splashOnly}}{{localize "PF2E.TraitSplash"}}{{else}}{{localize "PF2E.DamageButton.FullShort"}}{{/if}}</span>
    </button>
    <button type="button" class="half-damage" title="{{localize "PF2E.DamageButton.Half"}}&#013;{{localize "PF2E.DamageButton.Adjust"}}">
        <i class="fa-solid fa-heart-broken fa-fw"></i>
        <span class="transparent-half"></span>
        <span class="label">{{localize "PF2E.DamageButton.HalfShort"}}</span>
    </button>
    <button type="button" class="double-damage" title="{{localize "PF2E.DamageButton.Double"}}&#013;{{localize "PF2E.DamageButton.Adjust"}}">
        <i class="fa-solid fa-heart-broken fa-fw"></i>
        <i class="fa-solid fa-heart-broken fa-fw"></i>
        <span class="label">{{localize "PF2E.DamageButton.DoubleShort"}}</span>
    </button>
 
    <button type="button" class="shield-block dice-total-shield-btn" title="{{localize "PF2E.DamageButton.ShieldBlock"}}">
        <i class="fa-solid fa-shield-alt fa-fw"></i>
        <span class="label">{{localize "PF2E.DamageButton.ShieldBlockShort"}}</span>
    </button>
    <button type="button" class="heal-damage" title="{{localize "PF2E.DamageButton.Healing"}}&#013;{{localize "PF2E.DamageButton.Adjust"}}">
            <i class="fa-solid fa-heart"></i>
        <span class="label">{{localize "PF2E.DamageButton.HealingShort"}}</span>
    </button>
</section>

<div class="hover-content select-shield">
    <div class="sidebar_title">
        <h2>{{localize "PF2E.Actions.ShieldBlock.SelectAShield"}}</h2>
    </div>
    <ul class="shield-options">
        <template>
            <li class="item">
                <input class="data" name="shield-id" type="radio" value="" />
                <span class="label"></span>
                <span class="tag"></span>
            </li>
        </template>
    </ul>
</div>
