
<div style="font-size:80%;text-transform:uppercase">
    {{#if item.persistent}}
    persistent
    {{/if}}
    {{#if item.type}}
    {{item.type}} <span style="opacity:0.6">({{item.category}})</span>
    {{/if}}
</div>

{{#if item.persistent}}
<div style="display:flex;align-items:center">
    <div style="flex: 0 0 2em;text-align:center;font-size:175%">
        <div style="font-size:75%;opacity:0.5">
        &raquo;
        </div>
    </div>
    <div class="letter-spacing:-0.05em;">
        {{prettyformula item._formula}}
        <span style="opacity:0.6">
        ({{item.expectedValue}})
        </span>
    </div>
</div>
{{else}}
<div style="display:flex;align-items:center;line-height:1">
    <div style="flex: 0 0 2em;text-align:center;font-size:175%;background:#0001">
    {{item.total}} 
    </div>
    <div>
        <div style="opacity:0.9;letter-spacing:-0.05em;">
            {{prettyformula item._formula}}
        </div>
        <div class="alt-row">
        {{#each item.dice}}
        <div class="alt-row">

        <div style="opacity:0.6;letter-spacing:-0.05em;">
            {{this.expression}}
            [{{#each this.results}}
            <span class="alt-text">{{this.result}}</span>
            {{/each}}]
            {{this.total}}
        </div>
        </div>
        {{/each}}
        </div>
    </div>
</div>
{{/if}}