<div>
    {{#unless isDamageRoll}}
        {{#each rolls}}
            <div style="display:flex;align-items:center;line-height:1">
                <div style="background:#fff4;font-size:200%;width:1.5em;overflow:hidden;white-space:nowrap;text-align:center;letter-spacing:-0.05em" data-info data-total>
                    {{total}}
                </div>

                {{#if ../isReroll}}
                <div style="padding:0 2px" data-tooltip="Rerolled">
                    <i class="fa-solid fa-sync-alt"></i>
                </div>
                {{/if}}

                {{#if ../blind}}
                <div style="padding:0 2px" data-tooltip="secret">
                    <i class="fa-solid fa-eye-slash"></i>
                </div>
                {{/if}}

                {{#each dice as |dice|}}
                <div data-dice-style style="padding:0 2px;
                {{#if (eq this.faces 20)}}
                {{#if (eq this.total 20)}}
                color:#fff;background:#0ad;font-weight:bold;text-shadow:1px 1px 0 #000
                {{/if}}
                {{#if (eq this.total 1)}}
                color:#fff;background:#d04;font-weight:bold;text-shadow:1px 1px 0 #000;
                {{/if}}
                {{/if}}
                ">
                    <div style="font-size:75%;opacity:0.75;text-align:center;background:#0002;font-weight:bold;padding: 0 1px">
                        {{dice.formula}} 
                    </div>
                    <div style="text-align:center;margin-top:-0.1em">
                    {{#each dice.results}}
                        <span style="{{#if this.active}}font-size:120%;line-height:1;{{else}}text-decoration: line-through;opacity:0.25;{{/if}}" data-info>{{this.result}}</span>
                    {{/each}}
                    </div>
                </div>
                {{/each}}

                {{#each @root.flags.pf2e.modifiers}}
                {{#if modifier}}
                {{#if enabled}}
                <div style="padding: 0 2px;{{#if ignored}}opacity:0.25{{/if}}">
                    <div style="font-size:75%;opacity:0.75;text-align:center;text-transform:uppercase;background:#0002;padding:0 1px;letter-spacing:-0.05em" data-tooltip="{{label}} ({{type}} {{kind}})">
                        {{#if ability}}
                        {{ability}}
                        {{else if (eq label "Trained") }}
                        Trained
                        {{else if (eq label "Expert") }}
                        Expert
                        {{else if (eq label "Master") }}
                        Master
                        {{else if (eq label "Legendary") }}
                        Legend
                        {{else if (eq type "proficiency") }}
                        Prof
                        {{else if (eq label "Escalation") }}
                        Esc
                        {{else if (eq label "Multiple Attack Penalty")}}
                        MAP
                        {{else if (eq kind "modifier")}}
                        Modifer
                        {{else if (eq type "circumstance")}}
                        Circ
                        {{else if (eq type "status")}}
                        Status
                        {{else if (eq type "untyped")}}
                        {{kind}}
                        {{else}}
                        {{type}}
                        {{/if}}
                    </div>
                    <div style="text-align:center;margin-top:-0.1em">
                        <span style="font-size:120%;">{{modifier}}</span>
                    </div>
                </div>
                {{/if}}
                {{/if}}
                {{/each}}

                {{#each terms}}
                {{#if number}}
                {{#if (eq flavor "adjust")}}
                <div style="padding:0 2px">
                    <div style="font-size:70%;opacity:0.75;text-align:center;text-transform:uppercase;background:#0002;padding:0 1px;letter-spacing:-0.05em">
                        Adjust
                    </div>
                    <div style="text-align:center;margin-top:-0.1em">
                        <span style="font-size:120%;">{{number}}</span>
                    </div>
                </div>
                {{/if}}
                {{/if}}
                {{/each}}
            </div>
        {{/each}}
    {{/unless}}

    {{#if isDamageRoll}}

    {{#each rolls}}
        {{#if instances.length}}
            {{#each instances as |instance|}}
            <div class="damagetype {{instance.type}}" style="line-height:1;text-transform:uppercase;letter-spacing:-0.025em;padding:1px 0">
                <div style="display:flex;gap:2px;align-items:center">
                    <div style="background:#fff4;font-size:200%;width:1.5em;overflow:hidden;white-space:nowrap;text-align:center;letter-spacing:-0.05em">
                        {{#if instance.total}}
                        {{instance.total}}
                        {{else}}
                        <i style="opacity:0.25" class="fa-solid fa-{{instance.iconClass}} icon"></i>
                        {{/if}}
                    </div>


                    {{#if instance.total}}
                    <div>
                        <div style="display:flex;gap:2px;align-items:center">
                            <i class="fa-solid fa-{{instance.iconClass}} icon fa-fw"></i>
                            <div style="font-size:90%">
                                {{instance.formula}}
                            </div>
                        </div>

                        <div style="display:flex;gap:2px;align-items:center">
                        {{#each instance.dice as |dice|}}
                            {{#if (gt instance.dice.length 1)}}
                            <div style="opacity:0.75;outline:#0004 1px solid;padding:0 1px;white-space:nowrap">
                                <span style="font-size:80%;">{{dice.formula}}</span>
                            </div>
                            {{/if}}
                            {{#each dice.results}}
                            <div style="background:#0001;outline:#0004 1px solid;padding:0 1px;white-space:nowrap">
                                <span style="font-size:80%;">{{this.result}}</span>
                            </div>
                            {{/each}}
                            <div style="background:#fff4;outline:#fff8 1px solid;padding:0 1px;white-space:nowrap">
                                <span style="font-size:80%;font-weight:bold">{{dice.total}}</span>
                            </div>
                        {{/each}}
                        </div>

                        {{#if (dmg_component instance "precision")}}
                        <div style="font-size:80%;opacity:0.75">
                        <i class="fa-solid fa-fw icon fa-crosshairs"></i> <span>{{dmg_component instance "precision"}} Precision</span>
                        </div>
                        {{/if}}
                        {{#if (dmg_component instance "splash")}}
                        <div style="font-size:80%;opacity:0.75">
                        <i class="fa-solid fa-fw icon fa-burst"></i> <span>{{dmg_component instance "splash"}} Splash</span>
                        </div>
                        {{/if}}
                    </div>

                    {{else}}
                    <div style="opacity:0.8">
                        {{instance.formula}}
                    </div>
                    {{/if}}
                </div>
            </div>
            {{/each}}

            {{#each terms}}
            {{#if number}}
            {{#if (eq flavor "adjust")}}
            
            <div style="line-height:1;text-transform:uppercase;letter-spacing:-0.025em;padding:1px 0">
                <div style="display:flex;gap:2px;align-items:center">
                <div style="background:#fff4;font-size:200%;width:1.5em;overflow:hidden;white-space:nowrap;text-align:center;letter-spacing:-0.05em">
                    {{number}}
                </div>
                <div style="opacity:0.8">
                    Adjust
                </div>
            </div>
            </div>
            {{/if}}
            {{/if}}
            {{/each}}

            {{#if (ne instances.[0].total total)}}
                <div style="text-transform:uppercase;background:#0002;padding:0.25em;margin:0.25em;text-align:center;font-weight:bold">
                    {{total}} 
                    <span style="font-size:85%">Total Damage</span>
                </div>
            {{/if}}
            <div>
                {{!-- {{scuff_dmg this}} Scuff Damage --}}
            </div>

        {{else}}
    
        <div style="display:flex;align-items:center;line-height:1">
            <div style="font-size:200%;width:1.5em;overflow:hidden;white-space:nowrap;text-align:center;letter-spacing:-0.05em"  data-info>
                {{total}}
            </div>

            {{#each dice as |dice|}}
            <div>
                <div style="font-size:75%;opacity:0.75;background:#0002;text-align:center">
                    {{dice.formula}} 
                </div>
                <div style="text-align:center;margin-top:-0.1em">
                    {{#each dice.results}}
                        <span style="{{#if this.active}}font-size:120%;{{else}}text-decoration: line-through;opacity:0.25;{{/if}}" data-info>{{this.result}}</span>
                    {{/each}}
                </div>
            </div>
            {{/each}}

        </div>
    
        {{/if}}
    {{/each}}

    {{/if}}


</div>